body{
  display: flex;
  justify-content: center;
}
.dentaku{
  display: block;
  width:100vw;
  height:100vh;
}
.disp{
  display: block;
  text-align: center;
  height:40%;
}
.button{
  display: block;
  height:60%;
}
button{
  width:30%;
  height:100%;
  color: #61dafb;
}
.buttons{
  display: block;
  text-align: center;
  height:20%;
}
.warikan{
  width:60%;
}
.result{
  font-size: 11rem;
}